@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* 自定义样式 */
html, body, #app {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* 移除渐变背景样式 */
.bg-gradient-to-b {
  /* background: linear-gradient(to bottom, black, white); */
  background: white; /* 或者您想要的其他颜色 */
}

/* 确保 Element Plus 的样式优先级 */
.el-header, .el-footer {
  z-index: 10; /* 确保头部和底部在其他内容之上 */
}